@charset "utf-8";

html{
    background-image : "../img/cat.jpeg";
    background-position: center;
    background-attachment : fixed;
    background-repeat : no-repeat;
    background-size : 100% 100%l  
    
}

div p {
    color : red;
}

table {
    color : red;
    font-family: 'Oswald';
}
#id {
    color : blue;
}

#font {
    font-family: 'Times New Roman', Times, serif;
    font-style : bold;
}

#nav {
    font-family: 'Oswald';
    padding: 5px solid red;
    padding-left : 20px;
    border:10px solid blue;
    margin: 15px solid yellow;
    
    /* width : 10px; */
    /* height : 10px; */
}
.class {
    color : yellow;
}