html
    head
        title newjadefile
    body
        h1= Senior
        h2 select the menu
        ul
         -for(var i=0;i<1;i++)
            li job
            li love
            li travel
            li= hobby
            div= time